
body{
  background-color: pink;
  color: darkgrey;
}
table {
  border: solid 3px;
  /*height: 500px;
  width: 500px;*/
  margin-right: auto;
  margin-left: auto;
}

td {
  border: solid 2px;
  height: 166.6px;
  width: 166.6px;
  text-align: center;
  font-size: 100px;
}

h1 {
  text-align: center;
}
